.contenedor {
    -fx-pref-width: 1280px;
    -fx-pref-height: 720px;
    -fx-alignment: center;
    -fx-spacing: 200px;
}

.contenedorLabels {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.info {
    -fx-font-family: "monospace";
    -fx-font-size: 30pt;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

.cajaBotones {
    -fx-alignment: center;
    -fx-spacing: 50px;
}

.playAgain {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/playAgain.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.playAgain:hover {
    -fx-background-image: url("/img/playAgainE.png");
}

.agregar {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/uploadAnimal.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.agregar:hover {
    -fx-background-image: url("/img/uploadAnimalA.png");
}

.exit {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/exit.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.exit:hover {
    -fx-background-image: url("/img/exitE.png");
}
