.contenedor {
    -fx-pref-width: 1280px;
    -fx-pref-height: 720px;
    -fx-alignment: center;
    -fx-background-image: url("/img/fondoJuego.png");
    -fx-background-size: cover;
}

.pregunta {
    -fx-font-family: "monospace";
    -fx-font-size: 35pt;
    -fx-wrap-text: true;
}

.cajaOpciones {
    -fx-pref-width: 1280px;
    -fx-alignment: center;
}

.cajaBotones {
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-alignment: center;
}

.botonSi {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/si.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.botonSi:hover {
    -fx-background-image: url("/img/siE.png");
}

.botonNo {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/no.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.botonNo:hover {
    -fx-background-image: url("/img/noE.png");
}