.contenedor {
    -fx-pref-width: 1280px;
    -fx-pref-height: 720px;
    -fx-alignment: center;
    -fx-background-image: url("/img/fondoResultado.png");
    -fx-background-size: cover;
}

.cajaBotones {
    -fx-pref-width: 140px;
    -fx-pref-height: 720px;
    -fx-alignment: center;
}

.info {
    -fx-font-family: "monospace";
    -fx-font-size: 25pt;
    -fx-wrap-text: true;
}

.contenedorCentro{
    -fx-pref-width: 1000px;
    -fx-pref-height: 720px;
    -fx-alignment: center;
    -fx-spacing: 50px;
}

.contenedorRespuesta {
    -fx-pref-width: 1000px;
    -fx-pref-height: 400px;
    -fx-alignment: center;
}

.contenedorBotonesResultado {
    -fx-pref-width: 1000px;
    -fx-pref-height: 100px;
    -fx-alignment: center;
    -fx-spacing: 50px;
}

.playAgain {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/playAgain.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.playAgain:hover {
    -fx-background-image: url("/img/playAgainE.png");
}

.exit {
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-background-image: url("/img/exit.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.exit:hover {
    -fx-background-image: url("/img/exitE.png");
}

.botonI {
    -fx-pref-width: 140px;
    -fx-pref-height: 190px;
    -fx-background-image: url("/img/flechaIzq.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.botonD {
    -fx-pref-width: 140px;
    -fx-pref-height: 190px;
    -fx-background-image: url("/img/flechaDer.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}
